/************** HTML CSS ************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e5eff5;
  background-color: hsl(204, 43%, 93%);
  font-family: 'Karla', sans-serif;
  font-size: 16px;
}

div {
  padding: 20px 20px;
}

h1 {
  font-size: 1.4rem;
  font-weight: 700;
  margin: 10px auto;
}

h2 {
  font-size: 1.1rem;
  font-weight: 700;
  padding-top: 5px;
  padding-bottom: 5px;
}

main {
  border-radius: 10px;
  margin: 5vh auto;
  text-align: left;
  width: 55%;
  min-width: 300px;
  max-width: 700px;
  overflow: hidden;
  box-shadow: 0px 8px 8px 8px rgba(0, 0, 0, 0.05);
}

p {
  font-size: .8rem;
  line-height: 1.6;
  padding-top: 5px;
  margin: 0;
}

ul {
  list-style: none;
  padding-top: 10px;
}

li {
  line-height: 1.4;
  font-size: 0.8rem;
}

/*************** CLASS CSS  *********************/
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.btn {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  background: #c0df34;
  padding: 10px 10px;
  text-decoration: none;
  width: 90%;
  margin-top: 30px;
  margin: 30px auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
}

.btn:hover {
  background: #e1ebae;
  text-decoration: none;
}

.card-top h1 {
  color: hsl(179, 62%, 43%);
  text-align: left;
}

.card-top h2 {
  color: hsl(71, 73%, 54%);
  text-align: left;
}

/* .card-top p {
  line-height: 1.6;
} */

.card-top {
  background-color: white;
  color: hsl(218, 22%, 67%);
  margin: 0;
}

.card-subscription {
  background-color: hsl(179, 62%, 43%);
  color: hsl(204, 43%, 93%);
}

.card-subscription p {
  padding-top: 10px;
  /* opacity: 0.8; */
}

.price-period {
  opacity: 0.5;
  vertical-align: middle;
}

.price {
  font-size: 2.1rem;
  font-weight: 700;
  opacity: 1;
  vertical-align: middle;
  padding-right: 8px;
}

.card-why {
  /* min-height: 320px; */
  background-color: hsl(179, 62%, 48%);
  color: hsl(204, 43%, 93%);
}

.card-why li {
  opacity: 90%;
}

/********* adjust for large screen **********/
@media screen and (min-width: 700px) {
  div {
    padding: 35px 35px;
  }

  h1 {
    font-size: 1.6rem;
  }

  h2 {
    font-size: 1.2rem;
  }


  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20vh auto;
  }

  p, li {
    font-size: 1.0rem;
  }

  .card-top {
    grid-column: 1 / 3;
  }
}
